[submodule "containers/mrbot/src"]
	path = containers/mrbot/src
	url = git@github.com:cosandr/mrbot.git
[submodule "containers/mrbot/src-brains"]
	path = containers/mrbot/src-brains
	url = git@github.com:cosandr/mrbot-brains.git
[submodule "containers/twitch/src"]
	path = containers/twitch/src
	url = git@github.com:cosandr/twitch-vods.git
[submodule "containers/tfbuild/src"]
	path = containers/tfbuild/src
	url = https://github.com/tensorflow/tensorflow.git
